.form_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 0 auto;

  button {
    margin-top: 0.5rem;
  }
}

.home_page {
  display: flex;
  p {
    padding-left: 100px;
  }
}
